body{
    background-color: azure;
}
#para_6{
    margin-right: 40%;
    text-align: unset;
}
#para_7{
    margin-right: 40%;
    text-align: unset;
}#para_8{
     margin-right: 40%;
     text-align: unset;
 }