h1 {
    text-align: left;
    color: red;
}

#para_3 {
    font-size: large;
    text-decoration-style: wavy;
    text-align: left;
    color: green;

}

#para_4 {
    color: green;
    font-size: large;
    text-decoration-style: wavy;
    text-align: left;
}

#para_5 {
    color: green;
    font-size: large;
    text-decoration-style: wavy;
    text-align: left;
}